/* Global Styles */
img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

body {
    background-color:#3F1640;
}

#container {
    background-color:#85A36F;
    padding: 10px;
    outline: auto;
    outline-style: dotted;
    outline-color: #3CA450;
}

h1, h2, h3 {
    text-align: center;
    color: #3F1640;
    text-shadow: 2px 2px 2px #eab928;
    text-decoration: none;
    font-family: "Lilita One", sans-serif;
}


a {
    color: #3F1640;
}

a:hover {
    color: #5FA8DD;
    text-decoration: none;
}

/* Mobile Styles */
nav {
    background-color: #3CA450;
    padding: 35px;
    border-radius: 10%;
    outline: auto;
    outline-style: double;
    outline-color: #3F1640;
}

nav ul {
    list-style: none;
    padding: 0%;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    border: 2px;
    border-radius: 50%;
    height: 40px;
    line-height: 40px;
    color: #3F1640;
    background-color: #79747a;
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Shadows Into Light", cursive;
}

nav li a:hover {
    background-color: #5E1075;
    outline: auto;
    outline-color: #FCD14F;
}
header h1 {
    font-size: 60px;
    color: #3F1640;
}

main {
    border: 2px solid ;
    padding: 10px;
    margin: 10px 0;
}

#lower {
    border: 2px solid ;
    padding: 10px;
}

.col {
    border: 2px solid ;
    margin: 10px;
    padding: 10px;
}

footer {
    padding: 40px 0;
    text-align: center;
}

.button {
    display: block;
    margin: 50px auto;
    text-align: center;
    background-color: #85A36F;
    width: 200px;
    height: 45px;
    line-height: 40px;
    text-decoration: none;
    border: 5px solid ;
    border-radius: 20px;
    font-weight: bold;
}

.button:hover {
  color: #5FA8DD;
}

@media(min-width: 786px) {

    nav {
        text-align: center;
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        width: 200px;
    }

    main img {
        width: 50%;
    }

    #lower {
        width: 75%;
        margin: 0 auto;
    }

    .col img {
        width: 75%;
    }

}

/* Desktop Styles */

@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
    }

    #lower {
        width: 100%;
        display: flex;
    }
.col {
    width: 33.33%;
}

}